/* Global styles */

body {
    background: #f5f5f5;
    box-sizing: border-box;
    color: #212121;
    display: flex;
    flex-direction: column;
    font-family:
        'Roboto',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 580px;
    line-height: 1.42857143;
    margin: 0;
    overflow: hidden;
    width: 430px;
}

div.inactive {
    background: #eee;
    border-radius: 50%;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 auto;
    opacity: 0;
    padding: 0;
    text-align: center;
    transform: translateZ(0);
    transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1);
    width: 200px;
}

div.inactive.shown {
    font-size: 16px;
    height: 200px;
    line-height: 200px;
    margin: 50px auto;
    opacity: 1;
    padding: 50px;
}

.searchcontainer {
    background: #fff;
    border-radius: 3px;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 4px 7px;
    min-height: 0;
}

.searchcontainer i {
    color: #666;
    margin: 10px;
}

input.search {
    background: transparent;
    border: 0;
    font-size: 18px;
    padding: 7px 5px 7px 10px;
    width: 100%;
}

input.search:focus {
    outline: none;
}


/* Infobox styles */

.header {
    background-color: #e91e63;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.infobox {
    display: flex;
    padding: 15px;
}

.infobox img {
    cursor: pointer;
    filter: grayscale(100%) invert(100%) brightness(150%);
    height: 64px;
    padding-top: 13px;
    width: 64px;
}

.tabs {
    display: flex;
}

.tab {
    cursor: pointer;
    flex: 1;
    font-weight: 500;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}

.tab.active {
    border-bottom: 2px solid #ffff8d;
    font-weight: 700;
}

dl {
    flex: 2;
    margin: 13px 20px;
}

dt {
    clear: both;
    float: left;
    font-weight: 400;
}

dd {
    font-weight: 500;
    text-align: right;
}

#download_container,
#history_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: opacity 0.1s cubic-bezier(0.4, 0.0, 1, 1);
    width: 100%;
    z-index: 0;
}

#history_list {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.body {
    flex: 1;
    position: relative;
}

#download_container.active,
#history_container.active {
    opacity: 1;
    z-index: 2;
}


/* Post styles */

span.health-warning {
    background: #ff9706;
    border-radius: 1px;
    color: #fff;
    padding: 1px 5px;
    position: absolute;
    right: 0;
}

span.health-warning.critical {
    background: #e55b59;
}

div.post {
    background: #fff;
    border-bottom: 1px solid #dadada;
    display: flex;
    padding: 15px;
}

div.placeholder {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

div.post .tag {
    display: flex;
    margin: 0;
    max-width: 10px;
    transition: max-width 200ms ease-in-out;
}

div.post .info {
    flex: 1;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
}

div.post .tag:hover {
    max-width: 100px;
}

div.post .tag:hover span {
    opacity: 1;
}

div.post .tag span {
    align-self: center;
    color: white;
    display: inline-block;
    flex: 1 0 auto;
    opacity: 0;
    padding: 5px;
    text-transform: capitalize;
    transition: opacity 250ms ease-in-out;
}

div.post .title {
    font-weight: 400;
    overflow: hidden;
    padding: 0 3px 3px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details {
    color: #727272;
    display: flex;
}

.details .left {
    flex: 1 0 auto;
    padding: 0 0 0 15px;
}

.details .right {
    flex: 1 0 auto;
    padding: 0 6px 0 0;
    text-align: right;
}


/* Tag colors */

.tag {
    background: #bfbfbf;
}

.tag.deleted {
    background: #333;
}

.tag.postprocess {
    background: #468847;
}

.tag.unknown {
    background: #3a87ad;
}

.tag.success,
.tag.downloading {
    background: #56a858;
}

.tag.warning {
    background: #c67605;
}

.tag.failure {
    background: #b94a48;
}

.tag.paused {
    background: #f89406;
}

#setup_needed {
    position: absolute;
}

.shroud {
    background: rgba(30, 30, 30, 0.7);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1);
    z-index: -1;
}

.shroud.active {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.shroud.active .messagebox {
    display: block;
    z-index: 3;
}

.shroud .messagebox {
    background: #fff;
    border-radius: 3px;
    box-shadow:
        0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.4);
    display: none;
    margin: 30% 10%;
    padding: 30px;
    z-index: 0;
}

.messagebox h2 {
    font-size: 24px;
    margin-top: 0;
}

.btnbar {
    margin-right: -2rem;
    padding-top: 20px;
    text-align: right;
}

.btnbar a {
    background-color: transparent;
    color: #e91e63;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 1px 0 1px;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(0.4, 0, .2, 1);
    vertical-align: middle;
}

.btnbar a:hover {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, .2),
        0 3px 6px rgba(0, 0, 0, .28);
}

.btnbar a:active {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, .19),
        0 6px 6px rgba(0, 0, 0, .23);
}

div.control {
    padding: 10px 0;
}

div.control i {
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    transition: all 250ms cubic-bezier(0.4, 0, .2, 1);
}

div.control i:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .23);
}

div.post i {
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    height: 16px;
    transition: all 250ms cubic-bezier(0.4, 0, .2, 1);
    width: 16px;
}

div.post i:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .23);
}

#download_list {
    height: 100%;
    overflow: auto;
}

@font-face {
    font-family: 'icons';
    src: url('icons.woff') format('woff');
}

.icons {
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    display: inline-block;
    font-family: 'icons';
    font-feature-settings: 'liga';
    font-size: 24px;
    font-style: normal;
    font-variant-ligatures: discretionary-ligatures;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
