@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nzbgc_download {
    filter: grayscale(0.8);
    transition: all 250ms ease-in-out;
    cursor: pointer;
    display: inline-block;
}

.nzbgc_download img {
    width: 16px;
 }

 .nzbgc_download.nzbgc_added_ok{
    filter: grayscale(0);
}

 .nzbgc_download.nzbgc_added_failed{
    opacity:0.5;
}

.nzbgc_download.nzbgc_adding{
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nzbgc_download:hover {
    filter: grayscale(0.5);
}

a.headerInfo-expanded-img .nzbgc_download {
    padding: 3px;
}
